* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li, a {
  color: inherit;
  text-decoration: none;
  list-style: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #000;
}

html {
  font-size: 14px;
}

.txts {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.txts a {
  font-size: 3rem;
  color: #fff;
  position: relative;
  z-index: 100;
}
.txts a::before {
  content: attr(data-text);
  color: yellowgreen;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  overflow: hidden;
  transition: all 0.3s;
}
.txts a:hover::before {
  width: 100%;
}

.photo {
  position: absolute;
  top: 0;
  left: 0;
  background: url(./img/portrait-01.jpg) center/cover no-repeat;
  width: 100%;
  height: 100%;
}