/*reset.css*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li,
ol{
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}

/*wrapper*/

#wrapper {
  width: 100%;
  height: 100%;
  padding: 30px;
  background:radial-gradient(circle, transparent, rgba(0,0,0,0.8)),url("./img/bg.jpg") no-repeat center/cover;
  position: relative;
}


/*login*/

#login {
position: absolute;
top: 20px;
right: 20px;
}

#login input[type=submit]{
  font-size: 18px;
  padding: 8px 40px;
  border: 1px solid transparent;
  border-radius: 10px;
  background: #fff;
  &:hover {
    border: 1px solid #fff;
    color: #fff;
    background: #000;
    transition: all 0.3s;
  }
}

/*logo*/

#logo {
  width: 300px;
  height: 54px;
  background: url(./img/bi_1.png)center/cover no-repeat;
  margin: 70px auto 34px;
  /* position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%); */
  
}

/* logon */

#logon {
  width: 463px;
  height: 650px;
  margin: 0% auto 30px;
  background: radial-gradient(rgba(22, 19, 19, 0.7), rgba(35,37,39,0.9)),
  url(./img/middle.png) center/cover no-repeat;
  border-radius: 16px;
  padding: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: flex-start;
  position: relative;
}

.inner_contents {
  color: #fff;
  font-size: 14px;

}

.title {
  width: 463px;
  text-align: center;
  margin-bottom: 30px;
  font-weight:bold;
  font-size: 22px;
}

#calender {
  display: flex;
  justify-content:flex-start;
  margin: 20px 0 30px;
}

select {
  width: 130px;
  height: 40px;
  font-size: 16px;
  background-color: #000;
  color: #bdbdbd;
  padding-left: 30px;
  &:first-child{
    border-radius: 8px 0 0 8px;
  }
  &:last-child{
  border-radius:  0 8px 8px 0;
  }
}

.username #user {
  width: 100%;
  height: 40px;
  margin: 10 auto 30px;
  border: 1px solid #707070;
  padding-left: 12px;
  border-radius: 8px;
  font-size: 16px;
  background-color: #000;
  color: #fff;
  &:focus{
    outline: none;
  }
}
.userpassword #password {
  width: 100%;
  height: 40px;
  margin: 10 0 30px;
  border: 1px solid #707070;
  padding-left: 12px;
  border-radius: 8px;
  font-size: 16px;
  background-color: #000;
  color: #fff;
  &:focus{
    outline: none;
  }
}

#gender_btn {
  margin: 10px 0 30px;
  display: flex;
  background-color: #000;
  color: #bdbdbd;
  border: 1px solid #707070;
  &:first-child {
    border-right: transparent;
  }
  &:last-child{
    border-radius: 0 8px 8px 0;
  }
}

i{
  display: inline-block;
  width: 50px;
  height: 50px;
  font-size: 24px;
  padding: 10px;
  border: 2px solid transparent;
  &.filledA{
    border:  2px solid #dc143c;
    background-color: #dc143c;
    color: #fff;
  }
  &.filledB{
    border:  2px solid #1428dc;
    background-color: #1428dc;
    color: #fff;
  }
}

.check {
  margin: 25px 0;
  input[type="checkbox"]{
    scale: 2;
    margin: 10px;
  }
}

.btn {
  margin-bottom: 20px;
}

.btn input[type=submit] {
  width: 100%;
  height: 40px;
  color: #000;
  font-size: 16px;
  background-color: 919293;
  border: 1px solid transparent;
  border-radius: 8px;
  &:hover{
    background-color: #000;
    color: #fff;
  }
}