body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  width: auto;
  background: #000000;
  padding: 40px 40px;
  border-radius: 50%;
  gap: 10px;
}
.content .stars {
  width: 100%;
  display: flex;
}
.content .stars i {
  color: rgb(40, 40, 40);
  margin-right: 8px;
  cursor: pointer;
  transition: all 0.3s;
}
.content .stars i.active {
  color: yellow;
}
.content .comment {
  color: #fff;
}