body {
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
}

.box {
 padding: 20px;
 background: #000;
 border-radius: 24px;
 width: 360px;
 height: 250px;
}
.box:hover {
 background: #3a3a3a;
}
.box .txt {
 gap: 20px;
 color: #fff;
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100%;
 font-size: 20px;
}
.box .txt .day {
 color: #01ff95;
 font-size: 24px;
}