*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: inherit;
    text-decoration: none;
}

body{
    display: flex;
    width: 1300px;
    height: 100%;
    margin: 0 auto;
}
main{
    width: 100%;
    height: 100%;
    .header{
    padding: 30px;
    .gnb{
        text-align: center;
        width: 100%;
        a{
            font-size: 20px;
            width: 100%;
        margin: 0 50px;
        position: relative;
        padding: 15px;
        &::after{
            content: "";
            position: absolute;
            background: #000;
            height: 2px;
            bottom: 0;
            width: 0;
            left: 50%;
            transform: translateX(-50%);
            transition: all 0.3s;
            
        }
        &:hover::after{
            width: 100%;
        }
        }
    }
    .search_box{
        width: 100%;
        height: 100%;
        form{
            border: 1px solid #f00;
        }
    }
    }
}