* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #000;
}

.loding {
  display: flex;
  gap: 15px;
}
.loding .ob1 {
  width: 80px;
  height: 80px;
  background: rgb(0, 255, 94);
  border-radius: 50%;
  animation: ani 1s infinite;
  animation-delay: 0;
}
.loding .ob2 {
  width: 80px;
  height: 80px;
  background: rgb(255, 119, 0);
  border-radius: 50%;
  animation: ani 1s infinite;
  animation-delay: 0.2s;
}
.loding .ob3 {
  width: 80px;
  height: 80px;
  background: rgb(255, 0, 157);
  border-radius: 50%;
  animation: ani 1s infinite;
  animation-delay: 0.4s;
}

@keyframes ani {
  0% {
    scale: 0;
  }
  50% {
    scale: 0.6;
  }
  100% {
    scale: 0;
  }
}