*{
 margin: 0 auto;
 padding: 0;
 box-sizing: border-box;
}

ul,
li,
a{
 list-style: none;
 text-decoration: none;
 color: inherit;
}

body{
 font-size: 14px;
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
}
.container{
 width: 450px;
 padding: 20px;
 border: 1px solid #534aff;
 border-radius: 8px;
 box-shadow: 2px 2px 5px #322e6e;
 .top{
  text-align: center;
  h3{
   font-size: 1.4rem;
   color: #3c2666;
  }
  p{
   font-size: 2.4rem;
   font-weight: bold;
  }
 }
 .bar{
  width: 100%;
  height: 40px;
  line-height: 38px;
  padding-left: 20px;
  margin: 20px 0;
  background: #0044ff;
  color: #fff;
  border-radius: 8px;
 }
 .bottom{
  height: 260px;
  ul{
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   li{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed #3c53b2;
    padding-bottom: 20px;
    .item_title{
     width: 160px;
     font: bold 1.1rem/1 "arial";
    }
    .item_date{
     font: normal 1.1rem/1 "arial";
    }
   }
  }
 }
}