*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

ul,
li,
a{
 text-decoration: none;
 list-style: none;
 color: inherit;
}

/*val*/
$main-dark-color : #000;
$main-light-color : #ffffff;
$main-active-color : #353b48;
$main-btn-color : #dc143c;
$main-cursor-color :#777;
$main-hash-color : #cfcfcf;

/*common*/
html{
 font-size: 14px;
 background: $main-dark-color;
}

/*contents*/
.container{
 width: 100%;
 height: 100%;
}

/*header*/
header{
 width: 100%;
 height: 80px;
 display: flex;
 justify-content: center;
 background: $main-dark-color;
 nav{
  width: 900px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo{
  img{
   width: auto;
   height: 30px;
  }
  }
  .search-box{
   i{
    font-size: 1.8rem;
    color: $main-light-color;
    cursor: pointer;
   }
  }
 }
}

/*movie*/
.movie{
 width: 100%;
 height: calc(100vh - 80px);
 background: url(https://image-cdn.hypb.st/https%3A%2F%2Fkr.hypebeast.com%2Ffiles%2F2020%2F10%2Freasons-results-netflix-korean-dramas-original-sponsored-contents-kingdom-extracurricular-new-01.jpg?w=1260&cbr=1&q=90&fit=max)center/cover no-repeat;
}

/*FAQ*/
.faq{
 width: 100%;
 height: 100%;
 padding: 30px;
 color: $main-light-color;
 transition: all 0.3s;
 .faq-inner{
  width: 700px;
  margin: 0 auto;
  transition: all 0.3s;
  h2{
   text-align: center;
   font-size: 2rem;
  }
  .accordian{
   font-size: 1.2rem;
   position: relative;
   margin: 10px 0;
   .title{
    width: 100%;
    padding: 8px;
    background: rgb(92, 92, 92);
   margin-bottom: 8px;
   cursor: pointer;
   &::after{
    content: "\2b";
    font-family: "fontawesome";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
   }
   &.active{
    background: $main-active-color;
    &::after{
     content: "\2b";
     font-family: "fontawesome";
     transform: translateY(-50%)rotate(45deg);
    }
   }
   }
   .content{
    font-size: 1rem;
    margin-bottom: 20px;
    padding: 1px;
    display: none;
   }
  }
  .newsletter{
   width: 100%;
   text-align: center;
   p{
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 15px;
   }
   form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    input[type="text"]{
    flex: 3;
    border: none;
    height: 60px;
    font-size: 1.4rem;
    padding-left: 10px;
    &:focus{
     outline: none;
    }
    }
    input[type="submit"]{
    flex: 1;
    border: none;
    height: 60px;
    font-size: 1.4rem;
    font-weight: bold;
    color: $main-light-color;
    background: $main-btn-color;
    }
   }
  }
 }
}

/*modal*/
.modal{
 opacity: 1;
 width: 100%;
 height: 300px;
 background: rgba($color: #000000, $alpha: 0.8);
 position: fixed;
 top: 0;
 left: 0;
 display: flex;
 justify-content: center;
 align-items: center;
 color: $main-light-color;
 transition: all 0.3s;
 &.active{
  top: 0px;
 }
 .close{
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2rem;cursor: pointer;
  i{
   scale: 1.2;
  }
 }
 .search{
  width: 500px;
  form{
   display: flex;
   input[type="text"]{
    flex: 5;
    padding: 17px;
    border: none;
    position: relative;
    &:focus{
     outline: none;
     &::placeholder{
      opacity: 0;
     }
    }
    &::placeholder{
     opacity: 0.8;
     transition: all 0.2s;
    }
   }
   input[type="submit"]{
    flex: 1;
    padding: 15px;
    border: none;
    background: $main-btn-color;
    color: $main-light-color;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s;
    &:focus{
     outline: none;
    }
    &:hover{
     opacity: 0.7;
    }
   }
  }
  &::before{
   content: "\f002";
   font-family: "fontawesome";
   color: $main-dark-color;
   position: absolute;
   top: 20%;
   left: 8px;
   font-size: 1.2rem;
  }
  .hash-tag{
  color: $main-hash-color;
  margin-top: 10px;
  font-size: 1.3rem;
  opacity: 0;
  transition: all 0.2s;
  }
 }
 &.active{
  display: flex;
  opacity: 1;
 }
}